# Name(s): Ojas Patel, Pranav Naravetla, Suhas Dara, Avinash Damania

# OKCupid Data Mining Project

## Introduction

In this project, we will use an OKCupid dataset to solve the problem of predicting ___ using information from dating profiles such as physical traits and lifestyle choices.


(What is the data science problem you are trying to solve? Why does the problem matter? What could the results of your predictive model be used for? Why would we want to be able to predict the thing youâ€™re trying to predict? Then describe the dataset that you will use to tackle this problem.)

In [13]:
# Some headers
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from numpy.random import rand
from numpy import square, sqrt
from pandas import DataFrame
from sklearn.manifold import MDS
from sklearn.model_selection import StratifiedKFold
from scipy.spatial.distance import pdist

## Data Prep

In this section, we will clean the data in preparation for use in training our models.

In [87]:
df = pd.read_csv("final_profiles.csv")
df.columns

label = df['education']
data = df.drop(columns=['education'])
label.value_counts()

graduated from college/university    7798
graduated from masters program       2960
working on college/university        1930
working on masters program            590
graduated from two-year college       539
graduated from high school            480
graduated from ph.d program           420
graduated from law school             365
working on two-year college           355
working on ph.d program               312
dropped out of college/university     297
college/university                    262
graduated from space camp             227
dropped out of space camp             166
graduated from med school             160
working on space camp                 143
working on law school                  90
working on med school                  68
dropped out of two-year college        65
two-year college                       59
masters program                        47
dropped out of masters program         44
dropped out of ph.d program            42
high school                            40
dropped out of high school             38
working on high school                 26
space camp                             13
ph.d program                            7
med school                              6
dropped out of law school               4
law school                              4
dropped out of med school               3
Name: education, dtype: int64

In [67]:
label_engineering = {
    'graduated from college/university': 'bachelors',
    'greatued from masters program': 'masters',
    'working on college/university': 'currently studying',
    'working on masters program': 'currently studying',
    'graduated from two-year college': 'two-year college',
    'graduated from high school': 'high school',
    'graduated from ph.d program': 'ph.d',
}

df.count()

Unnamed: 0     1978
age            1978
body_type      1807
diet           1157
drinks         1885
drugs          1536
education      1782
essay0         1780
essay1         1719
essay2         1665
essay3         1606
essay4         1633
essay5         1623
essay6         1547
essay7         1574
essay8         1328
essay9         1577
ethnicity      1793
height         1978
income         1978
job            1717
last_online    1978
location       1978
offspring       811
orientation    1978
pets           1311
religion       1319
sex            1978
sign           1644
smokes         1795
speaks         1975
status         1978
dtype: int64

In [88]:
data = data.drop(columns = ['Unnamed: 0', 'essay0', 'essay1','essay2','essay3','essay4','essay5','essay6','essay7'
                  ,'essay8','essay9','last_online','sign','offspring', 'diet', 'speaks','location','status'],axis=0)
#dropping diet, offspring, speaks as they are either too many unique values or missing values

In [89]:
data.columns

Index(['age', 'body_type', 'drinks', 'drugs', 'ethnicity', 'height', 'income',
       'job', 'orientation', 'pets', 'religion', 'sex', 'smokes'],
      dtype='object')

## Data Exploration

## Feature Engineering

## Modeling

## Results and Analysis